@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  font-family: "Poppins", sans-serif;
  background: var(--stone-10);
  overflow: hidden;
  
}

.card{
  background-image: var(--gradient-2);
  width: 45%;
  min-width: 300px;
  box-shadow: var(--shadow-4);
  padding: 20px 30px;
  margin-inline: auto;
  margin-top: 20px;
  border-radius: var(--radius-3);
  transition: all 0.5s ease-in-out;
  
}
.title-text{
  font-size: var(--font-size-6);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}
.search{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin-inline: auto;
}
.search input{
  width: 90%;
  text-indent: 30px;
  font-size: var(--font-size-4);
  margin-right: 20px;
}
.search div{
  width: 50px;
  height: 50px;
  padding: 20px;
  background-color: #fff;
  text-align: center;
  border-radius: var(--radius-round);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.search div .fa{
 font-size: var(--font-size-4);
}
.error{
  width: 75%;
  margin-inline: auto;
  margin-top: 20px;
  color: red;
  font-family: "Roboto", sans-serif;
  font-size: var(--font-size-5);
  display: none;
}
.weather{
  text-align: center;
  padding-block: 20px;
  width: 100%;
  display: none;
}
.weather-icon{
  margin-bottom: 20px;
}
.weather-icon img{
  width: 200px;
  max-width: 100%;
}
.weather-icon div p{
  font-size: var(--font-size-6);
}
.weather-icon div h2{
  font-size: var(--font-size-5);
  margin-block: 0;
}
.condition{
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-6);
}
.weather-features{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  flex-wrap: wrap;
}
.weather-features .col{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 20px;
}
.weather-features .col img{
  width: 50px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.weather-features .col div p{
  font-size: var(--font-size-3);
}

/* --------------small screens-------- */
@media screen and (max-width: 770px) {
  .card{
    width: 100%;
    margin: 0 auto;
  }
  .weather-features{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .search{
    width: 100%;
  }
}
footer{
  text-align: center;
  padding: 15px;
}
footer small{
  font-size: var(--font-size-3);
  color: #fff;
}
footer small span{
  color: var(--red-7);
  font-weight: var(--font-weight-7);
  font-size: var(--font-size-4);
  font-family: "Roboto", sans-serif;
}
